<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Gerenciador de Vacinação</title>
</head>
<body>
  <div class="container">
    <div class="row mt-4 mb-2">
      {% if update %}
        <h1>Atualizar Endereço</h1>
      {% else %}
        <h1>Novo Endereço</h1>
      {% endif %}
    </div>
    
    <div class="row">
      <div class="card">
        <div class="card-body">
          <form method="POST" action="">
            <div class="mb-3">
              <label for="Input_rua" class="form-label">Rua</label>
              <input type="text" class="form-control" id="Input_rua" name="rua" 
                {% if endereco %}
                  value="{{endereco.rua}}"
                {% endif %}
              >
            </div>
            <div class="mb-3">
              <label for="Input_cidade" class="form-label">Cidade</label>
              <input type="text" class="form-control" id="Input_cidade" name="cidade"
                {% if endereco %}
                  value="{{endereco.cidade}}"
                {% endif %}
              >
            </div>
            <div class="mb-3">
              <label for="Input_estado" class="form-label">Estado</label>
              <input type="text" class="form-control" id="Input_estado" name="estado"
              {% if endereco %}
                value="{{endereco.estado}}"
              {% endif %}
              >
            </div>
            <div class="mb-3">
              <label for="Input_cep" class="form-label">Cep</label>
              <input type="text" class="form-control" id="Input_cep" name="cep" maxlength="8"
              {% if endereco %}
                value="{{endereco.cep}}"
              {% endif %}
              >
            </div>
            <div class="mb-3">
              <label for="Input_comentario" class="form-label">Comentário</label>
              {% if endereco %}
                <textarea class="form-control" id="Input_comentario" name="comentario">{{endereco.comentario}}</textarea>
              {% else %}
                <textarea class="form-control" id="Input_comentario" name="comentario"></textarea>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>